h1{
   color: red;
}
.link{
   display: inline;
   margin: 1%;
}
.cabecalho{
   background-color: lightblue;
}

h1, h2{
   font-family: sans-serif;
}
nav a{
   font-weight: bold;
}
.container{
   margin: 20px;
}
.conteudo{
   line-height: 1.5;
}
